.search-bar {
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 1rem;
}

.search-input {
  height: 5em;
  outline: none;
  border-style: solid;
  border-width: 0 0.5px 0 0;
  border-color: #AAAAAA;
  color: #333333;
  font-size: 1rem;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  width: 100%;
}

.search-input::placeholder {
  color: #AAAAAA;
  font-weight: light;
}

.advanced-section {
  width: 50%;
}

.search-btn {
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  height: 30px;
  font-size: 0.9rem;
  font-family: Varela Round;
  border-radius: 3px;
  outline: none;
  background-color: #555555;
  color: #fff;
  border-color: #606060;
  transition: 0.3s;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.search-bar h2 {
  width: 140px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.advanced-search-bar {
  transition: 0.5s;
}

.advanced-search-input-wrapper {
  display: flex;
  flex-direction: column;
}

.advanced-search-bar p {
  cursor: pointer;
  font-size: 1rem;
  width: 6%;
}

.advanced-search-bar p:hover {
  color: gray;
  transition: 0.5s;
}

h2:hover {
  cursor: pointer;
  color: gray;
  transition: 0.5s;
}

.form-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .search-fields {
    flex-direction: column;
  }
}