.table {
    width: 100%;
    margin: 10px 0 10px 0;
}

.table-text {
    text-align: left;
}

.table-headers {
  font-weight: bolder;
}

table {
    width: 100%;
    font-size: 1rem;
}

th,
td {
    font-weight: lighter;
    padding: 5px;
}

tr {
  border: none;
}

tr:nth-child(odd) {
  background-color: #333333;
}

tr:nth-child(even) {
  background-color: #454545;
}
